body{
    background-color: #e5e5e5;
}
main{
    display: flex;
    flex-direction: row;
    position: relative;
    max-height: 80vh;
    min-height: 90vh;
}
main .logo{
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2em;
}
main .logo img{
    width: 6em;
}
main .container{
    border: transparent;
    width: 50vw;
    padding-top: 15vh;
    display: flex;
    justify-content: center;
}
main .container .input_text{
    width: 70%;
    display: flex;
    flex-direction: column;
}
main .container .input_text textarea{
    width: 100%;
    height: 90%;
    resize: none;
    background: transparent;
    border: none;
    color: #0A3871;
    font-weight: 400;
    font-size: 2em;
    padding: 0;
}
main .container .input_text textarea:focus{
    outline: none;
}
main .container .input_text textarea::placeholder{
    color: #0A3871;
}
main .container .botton{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
}
main .output_text{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
.output_text .result{
    background-color: #ffff;
    height: 800vh;
    width: 75%;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0cm 0cm 2em 0.1em #00000031;
}
.result .no_output{
    color: #0A3871;
    font-size: 700;
    text-align: center;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result .result_output{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.result .result_output button{
    margin-bottom: 2em;
}
.result .result_output .output_text_descrypt{
    height: 100%;
    width: 100%;
    margin-top: 1em;
    resize: none;
    background: transparent;
    border: none;
    color: #0A3871;
    font-weight: 400;
    font-size: 2em;
}
.result .result_output .output_text_descrypt:focus{
    overflow: none;
}
.result .no_output img{
    width: 100%;
}
main .result .no_output
main .result .result_output{
    padding: 2em;
}
main .bottons{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
main .button{
    padding: 1em;
    width: 100%;
    border-radius: 1em;
    border: none;
    border: 2px solid #0A3871;
    transition: border-color 250ms background-color 250ms;
}